body {
    background-color: #1a2638;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline; 
}

ol li {
    counter-increment: listCounter; 
}

ol li::marker {
    content: '(' counter(listCounter) ").  ";
}

figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:75%;
}

figure.left{
    float:left;
    margin-right:2em;
    max-width:75%;
}

figure.right{
    float:right;
    margin-left:2em;
    max-width:75%;
}

@media(max-width:800px) {
    figure.left,
    figure.right{
        float:none;
        margin-top:2em;
        margin-bottom:2em;
        margin-right:2em;
        margin-left:2em;
        max-width:50%;
    }
}

.common-footer {
    margin-top: 1em;
    padding-top: 1em;
}

.content {
    margin-top: 1em;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}