{{ if .Param "math" }}
  {{ partialCached "math.html" . }}
{{ end }}

<!--for overriding-->
<style type="text/css">
{{ if .Site.Params.custom_css }}
{{ readFile .Site.Params.custom_css | safeCSS }}
{{ end }}</style>

<!-- This is for link previews for services like Discord -->
<!-- See the Open Graph protocol https://ogp.me/ -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.Params.BaseURL }}">
<meta property="og:title" content="{{ .Site.Params.meta.title }}">
<meta property="og:description" content="{{ .Site.Params.meta.description }}">
<meta property="og:image" content="{{ .Site.Params.meta.image }}">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.meta.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">


